.form-workout {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border-radius: 3px;
  background-color: transparent;
}

.duration-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 50%;
}

.form-workout-new {
  width: 50%;
}

.action_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
